body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.accent {
  color: #2e2f42;
}

.address {
  font-style: normal;
  color: #434455;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* -----------HEADER------------ */
.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  /* height: 56px; */
  /* padding: 16px; */
  color: #2e2f42;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container-nav {
  display: flex;
  align-items: center;
  /* width: 100%; */

  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.header .container {
  /* display: flex; */
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  margin: 0;
  /* margin-right: 76px */
  display: block;
}

span .accent {
  color: #f4f4fd;
}

.header-menu-list {
  display: none;
  color: #2e2f42;
  display: flex;
  gap: 40px;
  padding: 0;
}

.header-menu-link.current {
  position: relative;
}

.header-menu-link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after,
.header-menu-link.current::after {
  opacity: 1;
}

.header-menu-list:last-child {
  margin-right: 0;
}

.header-menu-item {
  display: none;
}

.header-menu-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

.header-address {
  display: none;
}

.header-address-list {
  font-style: normal;
  /* display: flex; */
  padding-left: 0;
}

.header-address-lis:last-child {
  margin: 0;
}

.header-address-item {
  /* display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455; */
  /* margin-right: 40px; */
  padding: 0;
}

.header-address-item:last-child {
  margin-right: 0;
}

.header-address-item:hover,
.header-address-item:focus,
.header-menu-link.current,
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-address-link {
  font-style: normal;
  /* padding: 24px 0; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .header-menu-list {
    color: #2e2f42;
    /* display: flex; */
    /* gap: 40px; */
    font-size: 16px;
    /* padding: 0 120px; */
  }
  .header-menu-item {
    display: block;
  }

  .header-menu-list:last-child {
    margin-right: 120px;
  }
  .header-address {
    display: flex;
    justify-content: flex-end;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
    /* padding: 16px 0; */
  }
  .header-address-link {
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .header .container {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-right: 76px;
  }
  .header-address-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;

    /* padding: 16px 0; */
  }
  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* -----------HEADER------------ */

/* -----------HERO---------- */

.section-hero {
  background-color: #2e2f42;
  /* max-width: 1440px; */
  min-width: 320px;
  margin: 0 auto;
  /* padding: 188px 0; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-mobil-img.jpg");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-resolution: 2x) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-mobil-2x.jpg");
  }
}

.section-hero .container {
  display: flex;
  flex-direction: column;

  padding: 72px 52px;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-title {
  display: block;
  /* max-width: 496px; */
  max-width: 216px;
  font-weight: 700;
  /* font-size: 56px; */
  /* line-height: 1.07; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  /* margin-bottom: 48px; */
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
}

.hero-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-tab-img.jpg");
  }
  @media screen and (min-resolution: 2x) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-tab-2x.jpg");
    }
  }

  .section-hero .container {
    display: flex;

    max-width: 768px;
    padding: 112px 136px;
  }
  .hero-title {
    display: block;
    min-width: 496px;
    padding: 0;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-1-min.jpg");
  }
  @media screen and (min-resolution: 2x) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-2x.jpg");
    }
  }

  .section-hero .container {
    max-width: 1158px;
    padding: 188px;
  }
  .hero-title {
    min-width: 496px;
    margin-bottom: 48px;
  }
}
/* -----------HERO---------- */

/*--------------ABOUT US-------------*/

.section-about-us {
  /* padding: 120px 0; */
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us-list {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
}

.about-us-item {
}

.about-us-item {
  display: flex;
  flex-direction: column;
  /* gap: 72px; */
  width: 288px;
  justify-content: center;
  /* width: calc((100% - 72px) / 4); */
  margin-bottom: 72px;
}

.about-us-item:last-child {
  margin-right: 0;
}

.icon-box {
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd; */
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.about-us-title {
  text-align: center;
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-us-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .about-us-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    padding: 0;
  }

  .about-us-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 356px;
    justify-content: flex-start;
    width: calc((100% - 48px) / 2);
    margin-bottom: 72px;
  }
  .about-us-list > :nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .about-us-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

@media screen and (min-width: 1158px) {
  .section-about-us {
    padding: 120px 0;
  }
  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }
  .about-us-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .about-us-item {
    margin-bottom: 0;
  }
  .about-us-item {
    flex-basis: calc((100% - 144px) / 4);
  }
}

/*--------------ABOUT US-------------*/

/* --------------OUR TEAM----------- */
.section-our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
  /* padding: 120px 0; */
}
.section-our-team .container {
  display: flex;
  flex-direction: column;
}

.our-team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 264px;
  /* gap: 24px; */
}

.our-team-item {
  border-radius: 0 0 4px 4px;
  width: 100%;
  /* width: calc((100% - 72px) / 4); */

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.our-team-image {
  display: block;
  width: 100%;
}

.team-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 32px 0; */
  padding: 32px 16px;
  gap: 8px;
}
.our-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.soc-links-list {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  /* margin: 0 16px; */
  /* gap: 24px; */
}

.soc-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf;
}

.soc-link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .section-our-team .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 96px 108px; */
  }
  .our-team-title {
    display: block;
    align-self: center;
    width: 100%;
  }

  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    column-gap: 24px;
    row-gap: 0;
  }
  .our-team-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 64px;
  }
  .our-team-list > :nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .section-our-team {
    padding: 120px 0;
  }

  .our-team-title {
    text-align: center;
  }

  .our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .our-team-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
}

/* --------------OUR TEAM----------- */

/* ----------PORTFOLIO--------------- */

.section-portfolio {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0;
}
.section-portfolio .container {
  display: flex;
  flex-direction: column;
}
.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  /* display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px; */
}

.portfolio-item {
  /* width: calc((100% - 48px) / 3); */

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.image-overlay {
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-image {
  visibility: visible;
  margin: 0 auto;
}

.portfolio-info {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    max-width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    max-width: 1158px;
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .image-overlay {
    visibility: visible;
  }
}

/* ----------PORTFOLIO--------------- */

/* --------------FOOTER------------------ */

.footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
  color: #f4f4fd;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding: 96px 16px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  max-width: 320px;

  gap: 72px;

  /* align-items: baseline; */
}
.footer-container {
  /* width: 100%; */

  /* margin-right: 120px; */
}
.logo {
  color: #4d5ae5;
}

.logo-footer {
  /* display: inline-block;
  align-self: center; */
  text-align: center;
  padding: 0;
  margin-bottom: 16px;
  margin-right: 0;
}
.footer .accent {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
  color: #f4f4fd;
  /* max-width: 264px; */
  min-width: 288px;
}

.footer .soc-links-list {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 16px;
}

.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-media-links {
  width: 208px;
  margin: 0;
  padding: 0;
  /* margin-right: 80px; */
}
.footer-media-links .soc-links-list {
  margin: 0;
  padding: 0;
}

.soc-link-icon {
  fill: #f4f4fd;
}

.footer-media-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer .soc-link:hover,
.footer .soc-link:focus {
  background-color: #31d0aa;
}

.subscribe {
  width: 288px;
  display: flex;
  flex-direction: column;

  /* width: 453px;
  height: 80px; */
}
.subscribe-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 24px; */
  gap: 16px;
}

.subscribe-label {
  /* display: flex; */
  /* width: 100%;
  padding: 0; */
  /* flex-direction: row;
  justify-content: space-between; */
}

.input-email {
  display: inline-block;
  width: 288px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;

  opacity: 0.3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-size: 12px;
}
::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.subscribe-btn:hover,
.subscribe-btn:focus,
.subscribe-btn:active {
  background-color: #404bbf;
}
.plane-icon {
  fill: #ffffff;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 108px;
  }
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 768px;
    column-gap: 24px;
    row-gap: 72px;
    align-items: baseline;
  }
  .footer-container {
    width: 264px;
  }
  .logo-footer {
    text-align: left;
  }
  .footer-media-text {
    text-align: left;
  }
  .subscribe {
    flex-direction: row;
    flex-wrap: wrap;
    width: 453px;
  }
  .subscribe-title {
    text-align: left;
    width: 100%;
  }
  .footer-form {
    flex-direction: row;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 156px;
  }
  .footer .container {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1158px;
    align-items: baseline;
    gap: 0;
  }
  .footer-container {
    margin-right: 120px;
  }
  .footer-media-links {
    width: 208px;
    margin-right: 80px;
  }
  .input-email {
    width: 264px;
    opacity: 1;
  }
}
/* --------------FOOTER------------------ */

/* ------------MODAL---OVERLAY----------- */

.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;

  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.close-btn {
  position: absolute;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
  transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
  fill: #ffffff;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.label-wrap {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.div-wrap {
  position: relative;

  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}
.input {
  padding: 8px 16px 8px 38px;
  padding-left: 38px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  margin-bottom: 16px;
}

.modal-comment {
  position: relative;
  margin-top: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input:focus,
.input:hover,
.modal-comment:focus,
.modal-comment:hover {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.input:focus + svg,
.modal-comment:focus + svg,
.input:hover + svg,
.modal-comment:hover + svg {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.checkbox-div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 24px;
  gap: 8px;
}

.privacy-label-text {
}

.checkbox-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-label-text {
  /* display: flex;
  align-items: center; */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  .link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
}

.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy:checked + .privacy-label-text .checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.link {
  color: #4d5ae5;
}
.modal-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .input:focus + svg,
  .modal-comment:focus + svg,
  .input:hover + svg,
  .modal-comment:hover + svg {
    border-color: 1px solid rgba(46, 47, 66, 0.4);
    fill: #2e2f42;
  }
  .input:focus,
  .input:hover,
  .modal-comment:focus,
  .modal-comment:hover {
    border-color: 1px solid rgba(46, 47, 66, 0.4);
    fill: #2e2f42;
  }
  .modal-comment {
    transition: fill;
  }
  .checkbox-icon {
    transition: fill;
  }
}
/* ------------MODAL---OVERLAY----------- */
